<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Test Suite">

    <listeners>
        <listener class-name="Utilities.CustomerTestListener"/>
    </listeners>

    <test name="SauceDemo Tests">

        <classes>

            <class name="TestCase.LoginPage_TestCase"/>
            <class name="TestCase.ProductPage_TestCase"/>
            <class name="TestCase.CartPage_TestCase"/>
            <class name="TestCase.Backtoproducts_TestCase"/>
            <class name="TestCase.Remove_YourCart_TestCase"/>

        </classes>

    </test>

</suite>